<div id="animated-grid" data-animated-grid class="animated-grid" aria-hidden="true">
  <div class="container animated-grid__container">
    <div class="animated-grid__row">
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
      <div data-animated-grid-col class="animated-grid__col"></div>
    </div>
  </div>
</div>
